body {
  padding-bottom: 40px;
}
.active {
  color: red !important;
}
.hide {
  display: none !important;
}
#thread-form {
  text-align: center;
}
#playlist {
  height: 380px;
  display: inline-block;
  overflow-y: auto;
  width: 400px;
  padding: 10px;
  text-align: left;
}
.body-cnt {
  text-align: center;
}
.player-cnt {
  text-align: left;
  width: 660px;
  display: inline-block;
}
#playlist, #player {
  margin: 5px;
  border: 1px solid #34345C;
}
#menu { margin: 0 5px }
.thumbnail {
  max-width: 128px;
  max-height: 128px;
}
.webm-link {
  width: 55%;
  word-wrap: break-word;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
} 
.playlist-item {
  margin: 5px;
}
#status {
  float: right;
}
#goto {
  display: inline-block;
}
#menu-misc {
  display: inline-block;
  margin-right: 165px;
}
#filename {
  text-align: center;
  display: block;
}
.subject {
  color: #0f0c5d;
  margin: 5px 5px 20px 5px;
  font-weight: 700;
}
